<% provide(:title, @taxon.name ) %>
<%= render partial: "light_section_title", locals: { taxon: @taxon } %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "categories" %>
        <%= render "colors_selection" %>
        <%= render "size_selection" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "inspection_filter" %>
        <div class="row">
          <%= render partial: 'potepan/share/products_table', collection: @products, as: 'product', locals: { col_size: 'is_large'} %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "light_section_brand" %>
